<!DOCTYPE HTML PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en-us" lang="en-us">

<head>
  <title> SkylarkManager Tester </title>
</head>

<body>

  <h1 id="site-name"> Tester for send reqs </h1>

  <form method="post" id="request-form">
    <div>
      <label for="CMD">Request:</label> <input id="id_cmd" name="CMD" maxlength="30" type="text">
    </div>
    <div>
      <label for="TYPE">Type:</label> <input id="TYPE" name="TYPE" maxlength="30" type="text">
    </div>
    <div>
      <label>&nbsp;</label><input value="Send" type="submit" onclick="vappreq(this.form)">
    </div>
  </form>

<script type="text/javascript">
function vappreq(form) {
    form.action = "/vappreq";
    form.submit();
    return true;
}
</script>

</body>

</html>
